{% extends "base.html" %}
{% load i18n %}
{% block rssnavbar %}<a href="feed/"><img id="rssicon" src="{{STATIC_URL}}img/rss_blue-32.png" /></a>{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-10">
    {% include "pager.html" %}
    <table class="table table-striped">
      <thead>
	<tr>
	  <th>{% trans "Name" %}</th>
      <th>{% trans "Type" %}</th>
	</tr>
      </thead>
      <tbody>
        {% for projet in object_list %}
        <tr>
          <td><a href="{{projet.get_absolute_url}}">{{projet.name}}</a></td>
          <td>{{projet.taxon_str}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>      
  </div>
  
  <div class="col-md-2">
    <h3>{% trans "Projects" %}</h3>
  </div>
</div>
{% endblock %}
