{% extends "base.html" %}{% load leaflet_tags %}{% load geojson_tags %}
{% load i18n %}{% load compress %}
{% block title %} : {{object.name}}{% endblock %}
{% block pagetitle %}{% trans "Alert" %} : {{object.name}}{% endblock %}
{% block rssnavbar %}<a href="events/feed/"><img id="rssicon" src="{{STATIC_URL}}img/rss_blue-32.png" /></a>{% endblock %}
{% block content %}
<div class="row">
<div class="col-md-4">
  
  <h3>{{object.name}}</h3>

<div class="well">
  <span class="badge">{{object.taxon_str}}</span>
  <ul>
    <li>
    {% trans "Period" %} : {{object.annee_debut}} - {{object.annee_fin}}
    </li>
    <li>Coordinator:
    <ul>{% for coordinator in object.coordinators.all %}
    <li><a href="{{coordinator.get_absolute_url}}">{{coordinator.name}}</a></li>
    {% endfor %}</ul>
    </li>

    <li>{% trans "Referent" %} : {{object.referent_interne.username}}</li>
    
    <li>Partenaires : <ul>{% for partenaire in object.partenaires.all %}
      <li>{{partenaire.name}}</li>
    {% endfor %}</ul>
    </li>

    <li>Financeur:
    <ul>{% for financeur in object.financeurs.all %}
    <li>{{financeur.name}}</li>
    {% endfor %}</ul>
    </li>
    {% if object.url %}
        <li><a href="{{object.url}}">Site web</a></li>{% endif %}
    </div>
<div>{{object.objectifs}}</div>
    </div>
    
    <div class="col-md-6">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>{% trans "Blocks" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for block in blocks %}
          <tr>
            <td><a href="{{block.get_absolute_url}}">{{block.name}}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% if user.is_staff %}
      {% for comment in comments %}
    <div class="well alert">{{comment.author}} : {{comment.comment}}</div>
    {% endfor %}


    {% endif %}
      
  </div>
  
  </div>
  
{% endblock %}
  