{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="row">
  <div class="col-md-10">
    {% include "pager.html" %}
    <table class="table table-striped">
      <thead>
    <tr><th></th>
      <th>{% trans "Firstname" %}</th>
      <th>{% trans "Name" %}</th>
      <th>{% trans "Activity" %}</th>
      <th>{% trans "Phone" %}</th>
      <th>{% trans "email" %}</th>
    </tr>
      </thead>
      <tbody>
        {% for contact in object_list %}
        <tr>
          <td>
            <a href="{% url 'contact_detail' contact.id %}">
            <span class="glyphicon glyphicon-user" /></a>
          </td>
          <td>{{contact.firstname}}</td>
          <td>{{contact.lastname}}</td>
          <td>{{contact.activite|default_if_none:''}}</td>
          <td>{{contact.phonenumber}}</td>
          <td>{{contact.email}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="col-md-2">
    <div>
      <h3>{% trans "Contacts" %}</h3>
      {% include "buttons.html" %}
    </div>

  </div>
</div>
{% endblock %}
