{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="row">
  <div class="col-md-10">
    {% include "pager.html" %}
    <table class="table table-striped">
      <thead>
	<tr>
      <th>{% trans "Firstname" %}</th>
      <th>{% trans "Name" %}</th>
	  <th>{% trans "Blocks" %}</th>            
	</tr>
      </thead>
      <tbody>
        {% for contact in object_list %}
        <tr>
          <td>{{contact.firstname}} {{contact.lastname}}</a></td>
          <td>{{contact.activite}}</a></td>          
          <td>{{contact.phonenumber}}</a></td>          
          <td>{{contact.email}}</a></td>          
        </tr>
        {% endfor %}
      </tbody>
    </table>      
  </div>

  <div class="col-md-2">
    <div>
      <h3>{% trans "Contacts" %}</h3>
      {% include "buttons.html" %}
    </div>

  </div>
</div>
{% endblock %}

