{% extends "base.html" %}
{% load i18n %}
{% block rssnavbar %}<a href="feed/"><img id="rssicon" src="{{STATIC_URL}}img/rss_blue-32.png" /></a>{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-10">
    <h3>{% trans "Blocks" %}</h3>
    {% include "pager.html" %}
    <table class="table table-striped">
      <thead>
	<tr>
	  <th>{% trans "Name" %}</th>
      <th>{% trans "Surface" %}</th>
      <th>{% trans "Amgnt" %}</th>
	</tr>
      </thead>
      <tbody>
        {% for block in object_list %}
        <tr>
          <td><a
            href="{{block.get_absolute_url}}">{{block.parcel.site.name}}
            - {{block.parcel.name}} - {{block.name}}</a></td>
          <td>{{block.surface}}</a></td>
          <td>{{block.nb_amg}}</a></td>          
        </tr>
        {% endfor %}
      </tbody>
    </table>      
  </div>

  <div class="col-md-2">
    <div>
      {% include "buttons.html" %}
    </div>
    
  </div>
</div>
{% endblock %}
