{% extends "base.html" %}{% load leaflet_tags %}{% load geojson_tags %}
{% load i18n %}{% load compress %}
{% block title %} : {{object.name}}{% endblock %}
{% block pagetitle %}{% trans "Bloc" %} : {{object.name}}{% endblock %}
{% block rssnavbar %}<a href="events/feed/"><img id="rssicon" src="{{STATIC_URL}}img/rss_blue-32.png" /></a>{% endblock %}
{% block content %}
<div class="row">
<div class="col-md-3">
  <h3>{{object.name}}</h3>
  <div class="well">
    <ul>
      <li>
        {% trans "Site" %} : <a href="{{object.parcel.site.get_absolute_url}}">{{object.parcel.site.name}}</a>
      </li>
      <li>
        {% trans "Parcel" %} : <a href="{{object.parcel.get_absolute_url}}">{{object.parcel.name}}</a>
      </li>
      <li>
      {% trans "Exploitant" %} :
      <a href="{{object.parcel.site.exploitant.get_absolute_url}}">
      {{object.parcel.site.exploitant|default:''}}</a>
      </li>
      <li>{% trans "Surface" %} : {{object.surface|default:''}}</li>
    </ul>
  </div>
  <div>
    <ul>
      <li>
        {% trans "Start on" %} : {{object.annee_debut}}
      </li>
    </ul>
  </div>
  <div class="well wellul">
    <ul>
      <li>{% trans "PH" %} : {{object.classph|default:''}}</li>
      <li>{% trans "Humidity" %} : {{object.classhumid|default:''}}</li>
      <li>{% trans "Profondeur" %} : {{object.classprof|default:''}}</li>
      <li>{% trans "Texture" %} : {{object.texture|default:''}}</li>
    </ul>
  </div>

  {% if user.is_staff %}
  <hr />
  {% trans "Données imports" %} : <a href="{{object.get_absolute_url}}/import">import</a>
  {% endif %}

</div>

<div class="col-md-7">

  <div>{{object.prod_veg_an}}</div>
  
    <table class="table table-condensed">
    <thead>
      <tr>
        <th>{% trans "Amenagements" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for amg in amgs %}
      <tr>
        <td>
          <span>{{amg.name}}</span>
          <span class="badge">{{amg.localisation}}</span>
          <span class="badge">{{amg.quality}}</span>
          <span class="badge">{{amg.proportion}}</span>
          
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>{% trans "Observations" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for obs in object.get_observations %}
      <tr>
        <td>
          <span class="badge">{{obs.author}}</span> {{obs.observation}}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

<div class="col-md-2">

  <div>
    {% if perms.parc.edit_block %}
    <p>
    <a href="{% url 'block_edit' pk=object.id %}" class="btn btn-primary btn-block">{% trans "Edit block" %}</a>
    </p>
    {% endif %}
  </div>


  
<div>
  
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{% trans "Projects" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for projet in object.projets.all %}
        <tr>
          <td><a href="{% url 'projet_detail' pk=projet.id %}">{{projet.name}}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>


  </div>

</div>
{% endblock %}
