{% extends "base.html" %}{% load leaflet_tags %}{% load geojson_tags %}
{% load i18n %}{% load compress %}{% load crispy_forms_tags %}
{% block title %} : {{object.name}}{% endblock %}
{% block pagetitle %}{% trans "Alert" %} : {{object.name}}{% endblock %}
{% block rssnavbar %}<a href="events/feed/"><img id="rssicon" src="{{STATIC_URL}}img/rss_blue-32.png" /></a>{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-5">
    <h3>{{object.name}}</h3>
    <div class="well">
      <ul>
	<li>
	  {% trans "Domain" %} : <a href="{{object.domain.get_absolute_url}}">{{object.domain}}</a>
	</li>
	<li>
	  {% trans "Geozone" %} : <a href="{{object.geozone.get_absolute_url}}">{{object.geozone}}</a>
	</li>
	<li>
	  {% trans "Created by" %} {{object.create_by.username}}
	</li>
	<li>
	  {% trans "Created on" %} {{object.create_on}}
	</li>
	<li>Subscribers : <span class="badge">{{object.nb_subscribers}}</span></li>
	<li>Notifications : {{object.nb_notifications}}</li>
      </ul>
    </div>

    {% leaflet_map "alert_detail" callback="main_map_init" %}
    {% if object.description %}
    <hr/>
    
    <div>
      <div class="alert alert-info">
	{{object.description}}
      </div>
    </div>
	 {% endif %}       
  </div>

  <div class="col-md-5">
    {% trans "Last 20 events" %}
    <table class="table table-condensed">
      <thead>
	<tr>
	  <th></th>
	  <th>{% trans "Action" %}</th>
	</tr>
      </thead>
      <tbody>
	{% for event in object.last_events %}
	<tr>
	  <td><a class="btn btn-default" href="{{event.get_absolute_url}}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
	  <td> {{event.action_str}}</td>
	  <td><img src="{{STATIC_URL}}img/{{event.get_osmid_img}}" /></td>
	  <td><a target="_blank" href="{{event.get_osmid_url}}">{{event.osmid}}</a></td>
	  <td><a target="_blank" href="{{event.get_changeset_url}}">{{event.changeset}}</a></td>
	  <td>
	    <span class="glyphicon glyphicon-{{event.status_icon}}-sign"></span>
	  </td>

	</tr>
	{% endfor %}
      </tbody>
    </table>

  </div>
  
  <div class="col-md-2">
    <div>
      <p>
	<a href="{% url 'alert_subscribe' object.id %}" class="btn btn-primary btn-block">{% trans "Subscribe" %}</a>
      </p>
    </div>
    <div>
      <table class="table table-striped">
	<thead>
	  <tr>
	    <th>{% trans "Tag Rules" %}</th>
	  </tr>
	</thead>
	<tbody>
	  {% for rule in object.get_rules %}
	  <tr>
	    <td>{{rule.tag_regex}}</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>

    <div>
      <table class="table table-condensed">
	<thead>
	  <tr>
	    <th>{% trans "Subscribers" %}</th>
	  </tr>
	</thead>
	<tbody>
	  {% for subscriber in object.get_subscribers %}
	  <tr>
	    <td>{{subscriber.user.username}}</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>

    
  </div>
</div>
<script type="text/javascript">
  function main_map_init (map, options) {

  var layer = L.geoJson();
  map.addLayer(layer);
  $.getJSON("{% url 'geozone_geojson' object.geozone.id %}", function (data) {
    layer.addData(data);
    map.fitBounds(layer.getBounds());
  });
  }
</script>
{% endblock %}
