{% extends "base.html" %}
{% load i18n %}
{% block rssnavbar %}<a href="feed/"><img id="rssicon" src="{{STATIC_URL}}img/rss_blue-32.png" /></a>{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-10">
    <h3>{% trans "Parcels" %}</h3>
    {% include "pager.html" %}
    <table class="table table-striped">
      <thead>
	<tr>
	  <th>{% trans "Name" %}</th>
	  <th>{% trans "Surface" %}</th>
	</tr>
      </thead>
      <tbody>
	{% for parcel in object_list %}
	<tr>
	  <td><a href="{{parcel.get_absolute_url}}">{{parcel.name}}</a></td>
	  <td>{{parcel.surface}}</a></td>
	</tr>
	{% endfor %}
      </tbody>
    </table>      
  </div>

  <div class="col-md-2">
    <div>
      {% include "buttons.html" %}
    </div>
    
  </div>
</div>
{% endblock %}
