{% extends "base.html" %}
{% load i18n %}
{% block jsheaders %}<script src="{{STATIC_URL}}js/api.js"></script>{% endblock %}
{% block body %}<body onload="parcel_list({% url "parcel_json" %}>{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-10">
    {% include "pager.html" %}
    <table class="table table-striped">
      <thead>
    <tr>
      <th>{% trans "Site" %}</th>
      <th>{% trans "Name" %}</th>
      <th>{% trans "System" %}</th>
      <th>{% trans "Blocks" %}</th>
      <th>{% trans "Experimental" %}</th>
    </tr>
      </thead>
      <tbody>
        {% for parcel in object_list %}
        <tr>
          <td>
            <a href="{{parcel.site.get_absolute_url}}">{{parcel.site.name}}</a>

          </td>
          <td><a href="{{parcel.get_absolute_url}}">{{parcel.name}}</a></td>
          <td>{{parcel.systemprod.name}}</td>
          <td>{% if parcel.nb_block > 0 %}{{parcel.nb_block}}{% endif %}</a></td>
          <td>{{parcel.experimental}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="col-md-2">
    <div>
      <h3>{% trans "Parcels" %}</h3>
      {% include "buttons.html" %}
    </div>

  </div>
</div>
{% endblock %}
