{% extends "base.html" %}{% load leaflet_tags %}{% load geojson_tags %}
{% load i18n %}{% load compress %}
{% block title %} : {{object.title}}{% endblock %}
{% block pagetitle %}{% trans "Alert" %} : {{object.name}}{% endblock %}
{% block rssnavbar %}<a href="events/feed/"><img id="rssicon" src="{{STATIC_URL}}img/rss_blue-32.png" /></a>{% endblock %}
{% block content %}
<div class="row">
<div class="col-md-4">
  <h3>{{object.title}}</h3>
<div class="well">
  <ul>
    <li>{% trans "Project" %} : <ul>
      {% for projet in object.projets.all %}
      <li>{{projet.name}}</li>
      {% endfor %}
    </ul></li>
    <li>{% trans "Published" %} : {{object.published}}</li>
    <li>{% trans "Objects" %} : {{object.model}}</li>    
    </div><!-- class well -->
    <div>
      <ul>
        {% for prop in object.properties.all %}
        <li>{{prop.name}}</li>
        {% endfor %}</ul>
      </div><ul>
      <li>{% trans "Created by" %} : {{object.creator}}</li></ul>
      </div><!-- div col -->
    
    <div class="col-md-6">
      {% leaflet_map "homemap" callback="map_detail_init" %}

      <script type="text/javascript">
      function map_detail_init (map, options) {
        var mapurl = '{% url "map_json" object.id %}';
        var dataurl = '{% url "map_geojson" object.id %}';
        var center = '{% url "map_geojson" object.id %}';
        map_init_data (map, options, mapurl, dataurl)
      }
      </script>

    </div>

    <div class="col-md-2">      
      <a href="{% url 'map_edit' object.id %}" class="btn btn-primary btn-block">{% trans "Edit" %}</a>
    </div>
    
  </div>
<div class="row">
<div class="col-md-12 well">
  url des données
  <ul>
    <li>geojson : <a href="{{ BASE_URL}}{% url 'map_geojson' object.id %}">{{BASE_URL}}{% url 'map_geojson' object.id %}</a></li>
    <li>KML 2.1 : <a href="{{ BASE_URL}}{% url 'map_kml21' object.id %}">{{BASE_URL}}{% url 'map_kml21' object.id %}</a></li>
  </ul>
  </div >
</div>
{% endblock %}
  