{% load i18n %}{% load leaflet_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Agroof {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Rodolphe Quiédeville">
    <link href="{{STATIC_URL}}vendor/bootstrap.min.css" rel="stylesheet">
    <!-- These CSS can-t be put elsewhere -->
    <style type="text/css">
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
      .sidebar-nav {
      padding: 9px 0;
      }
      #rssicon {margin-top: 8px;}
      #formnavsearch {margin-right:10px;}
    </style>
    {% leaflet_css plugins="markercluster"%}
    <link href="{{STATIC_URL}}css/sigafo.css" rel="stylesheet">
    {% block cssheaders %}{% endblock %}
    <!-- jsheaders -->
    <script src="{{STATIC_URL}}vendor/jquery-1.11.0.min.js"></script>
    <script src="{{STATIC_URL}}vendor/d3.v3.min.js"></script>
    {% leaflet_js plugins="markercluster" %}
    {% block jsvendors %}{% endblock %}
    <script src="{{STATIC_URL}}js/colors.js"></script>
    <script src="{{STATIC_URL}}js/mainmap.js"></script>
    {% block jsheaders %}{% endblock %}

    <!-- /jsheaders -->
    {% block headers %}{% endblock %}
  </head>
  {% block body %}<body>{% endblock %}
    <div id="wrap">
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">

	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
	    </button>

	    <a class="navbar-brand" href="/">Agroof</a>
	  </div>

	  <div class="collapse navbar-collapse">

	    <ul class="nav navbar-nav">
          
          <li><a href="{% url 'site_list' %}">{% trans "Sites" %}</a></li>
          <li><a href="{% url 'block_list' %}">{% trans "Blocks" %}</a></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }} <b class="caret"></b></a>
          
          <ul class="dropdown-menu dropdown-user">
            <li><a href="/accounts/profile/"><i class="fa fa-user fa-fw"></i> {% trans "User Profile" %}</a>
            </li>
            <!--<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>-->
            </li>
            <li class="divider"></li>
            <li><a href="/accounts/logout/"><i class="fa fa-sign-out fa-fw"></i> {% trans "Logout" %}</a>
            </li>
          </ul>
          <!-- /.dropdown-user -->
        </li>
        {% else %}
        <li><a href="/accounts/login/">{% trans "Sign in" %}</a></li>
        {% endif %}
        <li><a href="/p/contact/">{% trans "Contact" %}</a></li>
      </ul>
    <div class="nav navbar-nav navbar-right" >{% block rssnavbar %}{% endblock %}</div>
    </div><!--/.nav-collapse -->
    </div><!--/.container -->
    </div><!--/.navbar -->
    

      <div id="container" class="container">
        
      <div class="row">
      <div class="col-md-12">
<h3>{% trans "Sign in" %}</h3>

<div class="page-header well">
  <form class="form-signin" role="form" method="post" action="">
    {% csrf_token %}
    <input name="username" type="text" class="form-control" placeholder="Login" required autofocus>
    <input name="password" type="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Sign in" %}</button>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  <p>{% trans "Forgot password" %} ?
    <a href="/accounts/password/reset">{% trans "Reset it" %}</a>!</p>
</div>


       
      </div>
      </div><!--/row-->
      
      </div><!--/.container-->
      
      </div><!--/ .wrap -->

    {% block footer %}{% endblock %}
    {% block jsfooter %}{% endblock %}
  </body>
</html>
